* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #eef2f3;
    color: #333;
    position: relative;
    line-height: 1.6;
}

header {
    background-color: #34495e;
    color: #ecf0f1; /* Texto do header */
    text-align: center;
    padding: 20px;
    font-size: 28px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.chamada {
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    padding: 3em 1em;
    color: #fcf7c5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.chamada-texto {
    max-width: 600px;
    text-align: center;
}

.chamada-texto h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.chamada-texto p {
    font-size: 20px;
    color: #ecf0f1;
}

.categoria {
    text-align: center;
    margin: 40px 20px;
}

.categoria h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.categoria-videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categoria-videos a {
    margin: 10px;
    display: inline-block;
}

.categoria-videos img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.categoria-videos img:hover {
    transform: scale(1.05);
}

.ranking {
    text-align: center;
    margin: 40px 20px;
    background: #34495e; /* Fundo do ranking igual ao fundo do header */
    color: #ecf0f1; /* Cor do texto */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.ranking h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.ranking-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ranking-item {
    background: #2c3e50; /* Fundo dos itens de ranking */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.ranking-item:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.ranking-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e74c3c;
}

.ranking-item p {
    font-size: 16px;
    color: #ecf0f1; /* Texto mais claro para melhor legibilidade */
    margin-bottom: 15px;
}

.ranking-item iframe {
    border-radius: 10px;
    margin-top: 10px;
}
